{{> coordinator/coordinator-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
{{> coordinator/coordinator-topNav}}



<div class="content-wrapper">
   

    
    
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    
    
    
{{> coordinator/coordinator-footer}}    
</div>
</body>

</html>
