<script src="/publics/vendor/jquery/jquery.min.js"></script>
    <script src="/publics/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/publics/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/publics/js/sb-admin-2.min.js"></script>

</body>
<script>
    $(document).ready(function () {
       setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000);
    });
</script>
</body>

</html>
